# Preppin Data 2022 Week 1

Dataset: https://drive.google.com/file/d/1p8gt3cR3ATCeGK81pnT90x0a6dbCXst1/view

Challenge: https://preppindata.blogspot.com/2022/01/2022-week-1-prep-school-parental.html

In [1]:
#Importing Packages
import pandas as pd
import numpy as np

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [157]:
#Importing Data
data=pd.read_csv('C:/Users/yash/Downloads/PD 2022 Wk 1 Input - Input.csv')

In [158]:
data.head()

,id,pupil first name,pupil last name,gender,Date of Birth,Parental Contact Name_1,Parental Contact Name_2,Preferred Contact Employer,Parental Contact
0,1,Ronna,Nellies,Female,12/21/2013,Purcell,Ketti,Demizz,1
1,2,Rusty,Andriulis,Male,7/21/2012,Vassili,Rivi,Brainbox,1
2,3,Roberta,Oakeshott,Female,12/4/2011,Lind,Haskell,Centidel,2
3,4,Lola,Rubinfajn,Male,6/29/2012,Elie,Tresa,Edgeblab,2
4,5,Kamila,Benedtti,Female,7/10/2012,Adela,Clevey,Trudoo,1

In [159]:
data['Pupils Name']=data['pupil last name']+", "+data['pupil first name']

In [160]:
data['Parental Contact Full Name'] =np.where(data['Parental Contact']==1,data['pupil last name']+", "+data['Parental Contact Name_1'],data['pupil last name']+", "+data['Parental Contact Name_2'] )

In [161]:
data['Parental Contact First Name']=np.where(data['Parental Contact']==1,data['Parental Contact Name_1'],data['Parental Contact Name_2'])

In [162]:
data['Parental Contact Email Address']=data['Parental Contact First Name']+'.'+data['pupil last name']+'@'+data['Preferred Contact Employer']+'.com'

In [163]:
import datetime as dt

In [164]:
data['Date of Birth']=pd.to_datetime(data['Date of Birth'])

In [165]:
start_date=dt.datetime.strptime('08-30-2015','%m-%d-%Y')

In [166]:
data['Difference_Days']=start_date-data['Date of Birth']

In [167]:
data['Difference_Days']= data['Difference_Days'] / np.timedelta64(1, 'Y')

In [168]:
data['Difference_Days'] = data['Difference_Days'].apply(np.ceil).astype(int)

In [169]:
data=data.rename(columns={"Difference_Days":"Academic Year"})

In [170]:
data.head(2)

,id,pupil first name,pupil last name,gender,Date of Birth,Parental Contact Name_1,Parental Contact Name_2,Preferred Contact Employer,Parental Contact,Pupils Name,Parental Contact Full Name,Parental Contact First Name,Parental Contact Email Address,Academic Year
0,1,Ronna,Nellies,Female,2013-12-21,Purcell,Ketti,Demizz,1,"Nellies, Ronna","Nellies, Purcell",Purcell,Purcell.Nellies@Demizz.com,2
1,2,Rusty,Andriulis,Male,2012-07-21,Vassili,Rivi,Brainbox,1,"Andriulis, Rusty","Andriulis, Vassili",Vassili,Vassili.Andriulis@Brainbox.com,4

In [171]:
data=data.drop(['id','pupil first name','pupil last name','gender','Date of Birth','Parental Contact Name_1','Parental Contact Name_2','Preferred Contact Employer','Parental Contact','Parental Contact First Name'],axis=1)

In [172]:
data.head(10)

,Pupils Name,Parental Contact Full Name,Parental Contact Email Address,Academic Year
0,"Nellies, Ronna","Nellies, Purcell",Purcell.Nellies@Demizz.com,2
1,"Andriulis, Rusty","Andriulis, Vassili",Vassili.Andriulis@Brainbox.com,4
2,"Oakeshott, Roberta","Oakeshott, Haskell",Haskell.Oakeshott@Centidel.com,4
3,"Rubinfajn, Lola","Rubinfajn, Tresa",Tresa.Rubinfajn@Edgeblab.com,4
4,"Benedtti, Kamila","Benedtti, Adela",Adela.Benedtti@Trudoo.com,4
5,"Colebourn, Avery","Colebourn, Dalenna",Dalenna.Colebourn@Linktype.com,3
6,"Klimko, Valentino","Klimko, Onofredo",Onofredo.Klimko@Thoughtblab.com,1
7,"Shearwood, Cal","Shearwood, Berne",Berne.Shearwood@Browseblab.com,1
8,"Truswell, King","Truswell, Evvy",Evvy.Truswell@Photospace.com,3
9,"Stichall, Towney","Stichall, Joyann",Joyann.Stichall@Kwimbee.com,1

 End of Code